@media all and (max-width:420px) {
    .down-bar {
        background-color: #1f2247 ;
        height: 150px;
        color: rgba(235, 235, 235, 0.8);
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .down-bar__info {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 12px;
        text-align: center;
        line-height: 180%;
    }

    .down-bar__sns {
        font-size: 8px;
    }

    .down-bar__sns a {
        padding: 0 5px;
    }
}

@media all and (min-width:420px) and (max-width:767px) {
    .down-bar {
        background-color: #1f2247 ;
        height: 150px;
        color: rgba(235, 235, 235, 0.8);
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .down-bar__info {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
        text-align: center;
        line-height: 180%;
    }

    .down-bar__sns {
        font-size: 10px;
    }

    .down-bar__sns a {
        padding: 0 5px;
    }
}

@media all and (min-width: 767px) {
    .down-bar {
        background-color: #1f2247 ;
        height: 150px;
        color: rgba(235, 235, 235, 0.8);
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .down-bar__info {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 16px;
        text-align: center;
        line-height: 180%;
    }

    .down-bar__sns {
        font-size: 10px;
    }

    .down-bar__sns a {
        padding: 0 20px;
    }
}

