@media all and (max-width: 420px) {
    .history__title {
        display: flex;
        padding: 20px;
        font-size: 35px;
        justify-content: center;
    }
    .history__year {
        margin-bottom: 40px;
    }

    .history__year h2{
        font-family: 's-core-dream-bold', sans-serif !important;
        color: rgba(245, 245, 245, 1);
        font-size: 25px;
        margin: 20px 30px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(245, 245, 245, 1);
    }
    .history__year p {
        font-size: 13px;
        margin: 0 30px;
        color: rgba(245, 245, 245, 1);
        line-height: 150%;
        margin-bottom: 10px;
    }
}

@media all and (min-width:420px) and (max-width: 767px) {
    .history__title {
        display: flex;
        padding: 20px;
        font-size: 35px;
        justify-content: center;
    }
    .history__year {
        margin-bottom: 40px;
    }

    .history__year h2{
        font-family: 's-core-dream-bold', sans-serif !important;
        color: rgba(245, 245, 245, 1);
        font-size: 30px;
        margin: 20px 30px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(245, 245, 245, 1);
    }
    .history__year p {
        font-size: 18px;
        margin: 0 30px;
        color: rgba(245, 245, 245, 1);
        line-height: 150%;
        margin-bottom: 10px;
    }
} 

@media all and (min-width: 767px) {
    .history__title {
        display: flex;
        padding: 20px;
        font-size: 35px;
        justify-content: center;
    }
    .history__year {
        margin-bottom: 40px;
    }

    .history__year h2{
        font-family: 's-core-dream-bold', sans-serif !important;
        color: rgba(245, 245, 245, 1);
        font-size: 35px;
        margin: 20px 30px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(245, 245, 245, 1);
    }
    .history__year p {
        font-size: 20px;
        margin: 0 30px;
        color: rgba(245, 245, 245, 1);
        line-height: 150%;
        margin-bottom: 10px;
    }
}
